@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  height: 1px;
  width: 2px;

}

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b1b1;
  cursor: pointer;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
   
  }
}

body {
    font-family: 'Poppins', sans-serif;
   
}
